[jump-server]
${ jump_server_ip }

[masters]
%{ for kube_node in masters ~}
${ kube_node.ip }
%{ endfor ~}

[workers]
%{ for kube_node in workers ~}
${ kube_node.ip }
%{ endfor ~}

[jump-server:vars]
ansible_connection=local
public_ip=${jump_server_public_ip}

[masters:vars]
ansible_ssh_private_key_file=~/.ssh/jump-server
ansible_ssh_user=root

[workers:vars]
ansible_ssh_private_key_file=~/.ssh/jump-server
ansible_ssh_user=root
